1. Crie um array NumPy com 10 elementos inteiros aleatórios no intervalo [0, 100] e exiba os valores e o tipo de dado do array.

In [34]:
import numpy as np 

arr = np.random.randint(0, 100, size=10)

print(arr)

[11 23 58 35 62 37 94 67 36 87]

2. Crie uma matriz de 5x5 com valores aleatórios de [0,1) e encontre o valor mínimo, máximo e a média da matriz.

In [35]:

mat = np.random.rand(5, 5)

print(f"Mínimo: {round(np.min(mat),3)}")
print(f"Máximo: {round(np.max(mat),3)}")
print(f"Média: {round(np.average(mat),3)}")

Mínimo: 0.039
Máximo: 0.987
Média: 0.535

3. Crie um array com 10 elementos aleatórios no intervalo [0, 1]. Em seguida, crie um novo array com os elementos do primeiro array multiplicados por 10 e convertidos para inteiro.

In [36]:
arr = np.random.rand(10)

print(arr)
print((arr*10).astype(int))

[0.8523497  0.86363985 0.48512592 0.19345791 0.45458659 0.17731468
 0.77073196 0.61261499 0.83936021 0.22588985]
[8 8 4 1 4 1 7 6 8 2]

4. Crie um array de duas dimensões com shape (3, 3) e valores aleatórios inteiros no intervalo [0, 9]. Substitua todos os elementos da segunda linha por -1.

5. Crie um DataFrame com as seguintes informações:
Coluna "fruta": "Banana", "Maça", "Pera"
Coluna "preco": 7.90, 10.20, 11.80
Coluna "quantidade": 12, 3, 4

In [45]:
import pandas as pd

dataFrame = pd.DataFrame([["Banana", 7.90, 12],
                          ["Maça",  10.20,  3],
                          ["Pera",  11.80,  4]],
                          columns = ['Fruta','Preco','Quantidade'])
dataFrame

    Fruta  Preco  Quantidade
0  Banana    7.9          12
1    Maça   10.2           3
2    Pera   11.8           4